<html>

<head>
    <title>Leaflet sample</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #map {
            width: 80%;
            height: 70%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <% items.forEach((item)=>{%>
        <script>
            var map = L.map('map').setView(['<%=item.inventory_address.coord.longitude%>', '<%=item.inventory_address.coord.latitude%>'], 16);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker(['<%=item.inventory_address.coord.longitude%>', '<%=item.inventory_address.coord.latitude%>']).addTo(map)
                .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                .openPopup();

            function back() {
                location.href = '/detail?_id=<%=item._id%>'
            }
        </script>
        <br>
        <button onclick="back()">Back</button>
        <%})%>
</body>

</html>